* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    display: grid;
    grid-template-columns: 33% 57%;
    margin: 1rem;
}

.left-section {
    background-color: rgba(119, 136, 153, 0.428);
}



h1 {
    color: rgb(255, 119, 7);
    font-weight: 200;   
    position: relative;
    left: 3rem;
}
hr {
    background-color: rgb(255, 119, 7);
    color: rgb(255, 119, 7);
    opacity: 0.7;
    
}

h2,h3 {
    color: rgb(255, 119, 7);
    font-weight: 200;
   
}

a { 
    color: rgb(255, 119, 7);
    text-decoration: none;
    font-weight: bolder;
}
.fa-2x {
    color: rgb(255, 119, 7);
}

body {
    background-color:rgb(3, 3, 3);
    background-image: url(cv-images/blue.jpg);
    background-size: cover;
    background-position: 50% 50%;
    background-blend-mode: hard-light;
}

.col {    
    padding: 10px;
}

ul {
    color: whitesmoke;
    list-style: none;
    
}
.container {
    position: relative;
}

.work .education {      
    width: 400px;   
}

.contact {
    position: relative;
    left: 3rem;
    width: 300px;
    height: 300px;
}
.about-me {   
    color: #fff;    
    position: relative;
    float: right;

}

.langueages {
    color: #fff;
    padding-left: 5%;
}

img {
    position: relative;
    left: 3rem;
}

.fa-language {
    position: relative;
    left: 2rem;
}